body {
    background-color: LightBlue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right, black, red, green, yellow);
    color: LightGreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: black;
    color: LightGreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a {
    color: green;
    text-decoration: none;
}

a:visited {
    color: yellow;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
}

a:active {
    color: pink;
    background-color: green;
}